<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to "application" class="navbar-brand"}}Apollo{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        {{#link-to "airspace" tagName="li" href=false}}
          {{#link-to "airspace"}}Airspace{{/link-to}}
        {{/link-to}}
      </ul>
    </div>

  </div>
</nav>

{{outlet}}
